/* Handled by coffeelab.coffee to include *after* all CSS */
/* Not in resources list */

.ace_gutter {
	min-width: 25px;
	font-size: 7pt;
}

/* This style needs to be added dynamically as <style> element to work properly - see coffeelab.coffee  */
.ace-tm .ace_gutter {
	color: #aaa;
}

/* This style needs to be added dynamically as <style> element to work properly - see coffeelab.coffee  */
.ace_gutter-cell {
	padding-left: 15px;
	background: #eee;
}

.ace_folding-enabled > .ace_gutter-cell {
	padding-right: 18px;
}

.ace_dark .ace_fold-widget {
	background-image: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%05%00%00%00%05%08%06%00%00%00%8Do%26%E5%00%00%004IDATx%DAe%8A%B1%0D%000%0C%C2%F2%2CK%96%BC%D0%8F9%81%88H%E9%D0%0E%96%C0%10%92%3E%02%80%5E%82%E4%A9*-%EEsw%C8%CC%11%EE%96w%D8%DC%E9*Eh%0C%151(%00%00%00%00IEND%AEB%60%82")
}
